@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=League+Spartan:wght@100;200&family=Montserrat:ital,wght@0,100;1,100&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@100&family=Raleway:wght@200&family=Roboto:wght@100;400&family=Sono:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}