@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=League+Spartan:wght@100;200&family=Montserrat:ital,wght@0,100;1,100&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@100&family=Raleway:wght@200&family=Roboto:wght@100;400&family=Sono:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;


}

.basketImg {
    padding: 0 0.3em;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.logo {
    display: flex;
    margin: 15px 0;
    align-items: center;
    justify-content: center;
}

.txt {
    color: #000;

    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn {
    border-radius: 80px;
    background: var(--Maine-blue, #7e81e4);
    color: aliceblue;
    border: none;
    display: flex;
    width: 215px;
    font-weight: 800;
    height: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    margin: 0;
    padding: 0;
}

.portfolio {
    margin: 0 13px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.avatar {
    width: 4em;
    height: 4em;
    margin: 0 10px;
    cursor: pointer;
}

.name {
    font-size: 15px;
    color: #494949;
    text-align: center;
    position: relative;
    top: 8px;
    left: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.408px;
    font-weight: 600;
}

.email {
    color: var(--Black, #494949);
    text-align: center;
    position: relative;
    bottom: 6px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: -0.408px;
}

.cards {
    padding: 0 20px;
}

.card {
    padding: 10px;
    margin: 10px 0;
    height: 12.5em;
    width: 11.5em;
    border-radius: 12px;
    background: #FFF;

    box-shadow: 0px 2px 12px 0px rgba(73, 73, 73, 0.10);
}

.car {

    width: 11em;
    height: 6.8em;
    flex-shrink: 0;
}

.card h2 {
    position: relative;
    bottom: 1em;
    font-size: 18px;
}

.card p {
    position: relative;
    margin: 0;
    bottom: 2em;
    margin-bottom: 5px;
}

.rating {
    position: relative;
    bottom: 2em;
    right: 4.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating span {
    font-size: 15px;
    color: #C0C0C0;
}